# GRAP Dependencies
git+https://github.com/grap/grap-odoo-incubator@12.0#subdirectory=setup/name_search_reset_res_partner

git+https://github.com/grap/grap-odoo-business@12.0#subdirectory=setup/technical_partner_access
git+https://github.com/grap/grap-odoo-business@12.0#subdirectory=setup/recurring_consignment

git+https://github.com/grap/odoo-addons-company-wizard@12.0#subdirectory=setup/company_wizard_account
git+https://github.com/grap/odoo-addons-company-wizard@12.0#subdirectory=setup/company_wizard_base
