odoo12-addon-recurring_consignment @ git+https://github.com/grap/grap-odoo-business#subdirectory=setup/recurring_consignment

odoo12-addon-company_wizard_account @ git+https://github.com/grap/odoo-addons-company-wizard#subdirectory=setup/company_wizard_account
# (dependency of company_wizard_account)
odoo12-addon-company_wizard_base @ git+https://github.com/grap/odoo-addons-company-wizard#subdirectory=setup/company_wizard_base
