odoo12-addon-name_search_reset_res_partner @ git+https://github.com/grap/grap-odoo-incubator#subdirectory=setup/name_search_reset_res_partner

odoo12-addon-technical_partner_access @ git+https://github.com/grap/grap-odoo-business#subdirectory=setup/technical_partner_access

odoo12-addon-company_wizard_account @ git+https://github.com/grap/odoo-addons-company-wizard#subdirectory=setup/company_wizard_account
# (dependency of company_wizard_account)
# odoo12-addon-company_wizard_base @ git+https://github.com/grap/odoo-addons-company-wizard#subdirectory=setup/company_wizard_base
