<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015-Today GRAP (http://www.grap.coop)
@author: Julien WESTE
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
 License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<openerp><data>

    <menuitem id="menu_res_company_create_wizard"
        name="Create New Company"
        action="action_res_company_create_wizard"
        groups="base.group_no_one"
        parent="base.menu_res_company_global"
        sequence="12"/>

</data></openerp>
